{% load static %}
<div style='display:block;height:5px;width: 100% !important;background-color: #d35400'>
</div>
<div class='container has-padding-20' style='background-color: #2f3640;color:#ccc'>
	<div class='columns'>
		<div class='column has-text-centered'>
			<p style='font-weight:600'>Follow Us</p><br>
			<i class='fab fa-twitter fa-2x' style='margin:10px'></i>
			<i class='fab fa-facebook fa-2x' style='margin:10px'></i>
			<i class='fab fa-linkedin fa-2x' style='margin:10px'></i>
			<i class='fab fa-google-plus-g fa-2x' style='margin:10px'></i>
		</div>
		<div class='column has-text-centered'>
			<div class='container'>
				<p style='font-weight:600'>About Us</p><br>
				<p>
					Cross Current Publisher is an international Publisher of peer reviewed journals. This Publisher is managed by SASPR Edu International Pvt. Ltd. (www.saspredu.com) and is Collaborated with other...<a href='#' class='has-text-light'>View More</a>
				</p>
			</div>
		</div>
		<div class='column has-text-centered'>
			<p style='font-weight:600'>Important Links</p><br>
			<a href='{% url "index" %}' class='has-text-light'>Home</a><br>
			<a href='#' class='has-text-light'>Journals A-Z</a><br>
			<a href='#' class='has-text-light'>Journals By Subjects</a><br>
			<a href='#' class='has-text-light'>Author Guidelines</a><br>
			<a href='#' class='has-text-light'>Publication Fees</a><br>
			<a href='#' class='has-text-light'>Contact Us</a><br>
		</div>
	</div>
	<div class='container has-text-centered has-text-light has-margin-top-20'>
		 Copyright © 2019 | SASPR Edu International Pvt. Ltd. | All Rights Reserved.
		<p class="has-text-grey is-size-6"><a href="https://github.com/jayantamadhav" class="has-text-light" target="_blank">Developed by JM</a></p>
	</div>
</div>