{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ journal.journal_name }} | Cross Current Publisher</title>

	<meta name="viewport" content= "width=device-width, initial-scale=1.0"> 

	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/bulmahelper.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bulma-carousel.min.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/hover.min.css' %}"/>
	<!--Slick slider-->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/dropzone.js' %}"></script>
	<script src="{% static 'js/bulma-carousel.min.js' %}"></script>
	<script src="https://kit.fontawesome.com/3d4a04bbba.js" crossorigin="anonymous"></script>
</head>

<body>
	<div class='container'>
		<!--Header-->
		{% include 'index/navbar.html' %}

		<!--Main Content-->
		<div class="container bordered has-padding-10">
			<div class="columns">
				<!--Left Column-->
				<div class="column is-9">
					<div class='shadow container bordered has-padding-10'>
						<div class='columns'>
							<div class='column is-2'>
								<figure class='image'>
									<img src='{{ journal.journal_thumb.url }}'>
								</figure>
							</div>
							<div class='column is-7'>
								<p class='is-size-4' style='color:#d35400'>{{journal.journal_name}}</p>
								<p class='has-text-black'><strong>ISSN Print</strong>: {{ journal.issn_print}} &nbsp; <strong>ISSN Online</strong> : {{ journal.issn_online}}</p>
								<strong>Website</strong> : <a href='https://www.crosscurrentpublisher.com/{{ journal.journal_url }}'>https://www.crosscurrentpublisher.com/{{ journal.journal_url }}</a>
								<br><br>
								<p>Google based Impact Factor : <span class='has-text-danger'>{{current_if}}</span></p>
							</div>
							<div class='column'>
								<a href='{% url "submitManuscript" %}' class='has-text-white'><button class='btn' style='width:100%'>PAPER SUBMISSION</button></a>
							</div>
						</div>
					</div>
					<!--Tabs-->
					<div class=" has-background-white  bordered has-margin-top-10">
						<div class="tabs is-fullwidth is-toggle is-size-5 is-size-6-mobile">
							<ul>
								<li class="tab is-active" onclick="openTab(event,'1')"><a>Articles</a></li>
								<li class="tab" onclick="openTab(event,'2')"><a >Archives</a></li>
								<li class="tab" onclick="openTab(event,'3')"><a >Indexing</a></li>
								<li class="tab" onclick="openTab(event,'4')"><a >Aim &amp; Scope</a></li>
								<li class="tab" onclick="openTab(event,'5')"><a >Editorial Board</a></li>
								<li class="tab" onclick="openTab(event,'6')"><a >Publication Fee</a></li>
							</ul>
						</div>

						<div class="">
							<!--Article tab-->
							<div id="1" class="content-tab is-active">
								<!--articles-->
								{% include 'index/articles.html' %}
							</div>
							<!--Archive tab-->
							<div id="2" class="content-tab"  style="display:none">
								<div class='container has-padding-10'>
									{% if volumes %}
									{% regroup volumes|dictsortreversed:"volume_year" by volume_year as volume_year_list %}

									<ul>
										{% for volume_year in volume_year_list %}
										<li><p class="has-padding-left-10 is-size-4 is-size-6-mobile" style='font-weight: 600'>{{ volume_year.grouper }}</p>
											<ul  class='has-margin-top-10'>
												{% for volume in volume_year.list %}
												<a href="{% url 'volume_articles' url=journal.journal_url vol=volume issue=volume.issue_name%}" target="_blank">
													<button class="button is-danger is-outlined">{{volume}} {{volume.issue_name}}</button>
												</a>
												{% endfor %}
											</ul>
										</li><br>
										{% endfor %}
									</ul>
									{% else %}
									<p class="has-text-danger">No volumes added yet</p>
									{% endif %}
								</div>
							</div>
							<!--Indexing tab-->
							<div id="3" class="content-tab" style="display:none;overflow:auto;">
								<div class='has-padding-20'>
									{% if indexing %}
									<div class='columns is-multiline'>
										{% for index in indexing %}
										<div class='column is-4'>
											<figure class='image'>
												<a href='{{index.index_url}}' target='_blank'><img src='{{index.index_picture.url}}'></a>
											</figure>
										</div>
										{% endfor %}
									</div>
									{% else %}
									<p class='has-text-danger'>No Indexing added yet</p>
									{% endif %}
								</div>
							</div>
							<!--Aim & Scope tab-->
							<div id="4" class="content-tab" style="display:none">
								<div class='container has-padding-10'>
									<p class='strong is-size-4' style='color:#c0392b'>About Journal</p>
									{{ journal.journal_info}}<br><br>
									<p  class='strong is-size-4' style='color:#c0392b'>Scope of Journal</p>
									{{ journal.journal_scope}}<br><br>
								</div>
							</div>
							<!--Editorial Board-->
							<div id="5" class="content-tab" style="display:none">
								<div class='container has-padding-10'>
									<p class='is-size-4 strong' style="color:#c0392b">Editor-in-Chief</p>
									<div class='columns is-mobile'>
										<div class='column is-5'>
											<strong>{{journal.chief_editor}}</strong>
										</div>
										<div class='column'>
											{{journal.chief_editor_desg}}
										</div>
									</div>
									<p class='has-margin-top-20 is-size-4 strong' style="color:#c0392b">Editorial Board</p>
									{% if editors %}
									{% for editor in editors %}
									<div class='columns is-mobile'>
										<div class='column is-5'>
											<strong>{{ editor.editor_name }}</strong>
										</div>
										<div class='column'>
											{{ editor.designation }}
										</div>
									</div>
									{% endfor %}
									{% else %}
									<p class=''>No Information</p>
									{% endif %}
								</div>
							</div>
							<!--Processing Fee -->
							<div id="6" class="content-tab" style="display:none">
								<div class='container has-padding-10'>
									<p class='strong is-size-4' style='color:#c0392b'>Article Processing Charges</p>
									<p class='has-text-black'>
										The online publication process involve costs including those pertaining to setup and maintenance of the publication infrastructure, routine operation of the journal, processing of manuscripts through peer-reviews, editing, publishing, maintaining the scholarly record, and archiving. To cover these costs, the journal depends on Article Process Charges (henceforth: APC), also called Publication Fees. APC are due when a manuscript has been accepted for publication. 
									</p>
									<table class='has-margin-top-30 table is-fullwidth'>
										<thead style='background-color: #bdc3c7'>
											<tr>
												<th>Journal</th>
												<th>USD</th>
												<th>INR</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>{{ journal.journal_name }}</td>
												<td><strong>{{ fee_usd }}</strong> &#36;</td>
												<td><strong>{{ fee_inr }}</strong> &#8377;</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--Right Column-->
				<div class="column has-margin-top-10">
					{% include 'index/right-bar.html' %}
				</div>
			</div>
		</div>
		{% include 'index/footer.html' %}
	</div>
	<script type="text/javascript">
		function openTab(evt, tabName) {
			var i, x, tablinks;
			x = document.getElementsByClassName("content-tab");
			for (i = 0; i < x.length; i++) {
				x[i].style.display = "none";
			}
			tablinks = document.getElementsByClassName("tab");
			for (i = 0; i < x.length; i++) {
				tablinks[i].className = tablinks[i].className.replace(" is-active", "");
			}
			document.getElementById(tabName).style.display = "block";
			evt.currentTarget.className += " is-active";
		}
	</script>
</body>
</html>